body {
    background-color: black;
    color: white;
}

.header {
   font-family: 'Ubuntu', sans-serif;
   text-align: center;
   line-height: 80%;
   color: white;
   background-color: rgb(30, 30, 30);
   overflow: auto;
}