body {
    background-color: rgb(23, 23, 23);
    font-family: 'Ubuntu', sans-serif;
    color: white;
    margin: 0px;
}

.header {
   text-align: center;
   line-height: 50%;
   color: white;
   background-color: rgb(30, 30, 30);
   overflow: auto;
   max-padding: 20pt;
   min-padding: 0pt;
   padding-top: 0pt;
   padding-bottom: 10pt;
   position: sticky;
   overflow: hidden;
   top: 0;
}

.header a {
   text-decoration: none;
   color: white;
}

.header h1 {
    font-size: 2cm;
}
.header b {
    line-height: normal;
    font-size: 5mm;
}

.content {
    padding: 20pt;
    padding-top: 10pt;
    padding-bottom: 10pt;
    margin: auto;
    text-align: justify;
    max-width: 90ch;
    left: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex: 1;

    background-color: rgb(27, 26, 27);
}

.content img {
    border: 5px solid rgb(40, 40, 40);
    border-radius: 25px;
}

.content .hidden {
    display: none;
    margin: 0px;
    font-size: 10mm;
}

.content img:hover {
    border-color: rgb(70, 70, 70);
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 100;}
}

.content img:hover ~ .hidden {
    display: block;
    animation-name: show;
    animation-duration: 1s;
}

.content p {
    font-size: 5mm;
    line-height: 120%;
    color: rgb(235, 235, 235);
}

.content h2 {
    text-align: center;
    margin-top: 40pt;
    margin-bottom: 0pt;
}

.content h3 {
    margin-bottom: -15pt;
    font-size: 6mm;
    color: rgb(255, 221, 255);
}

.content a {
    text-decoration: none;
    color: rgb(255, 221, 255);
}

.footer {
    background-color: rgb(30, 30, 30);
    font-size: 6mm;
    position: sticky;
    width: 100%;
    bottom: 0;
    padding-top: 2mm;
    padding-bottom: 2mm;
}

.footer td {
    text-align: center;
    width: 33%;
}

.footer a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

@keyframes changeColor {
  from {color: white; font-size: 6mm;}
  to {color: rgb(255, 221, 255); font-size: 6.5mm;}
}

.footer a:hover {
    animation-name: changeColor;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}
