<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Add Ubuntu Font --->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>GoatCode</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="styles.css">
    <script src="main.js"></script>
</head>
<body>
    <div class = "header" id = "header">
        <h1 id = "goatcode">GOATCODE</h1>
        <b id = "text">Programista, Wizjoner, Geniusz, Filantrop</b>
    </div>

    <p>Nagrywam filmiki w internecie czasem</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>
    <p>tka</p>

    <div class = "footer">
        <h4>Wszystkie prawa nie są zastrzeżone, nie stać mnie na prawnika - nic wam nie mogę zrobić.</h4>
    </div>

</body>
</html>